    
<% dem = 0 %>
	<%= @images.each do |image| %>
		<%= image_tag image.values[1], size: "150" %>
			<% dem+=1 %>
		<% break if dem==3 %>
	<% end %>
<div class="row">
  <p style="font-size: 20px; font-weight: bold; color: blue; margin-left: 300px; margin-top: 50px">
  </p>

  <p style="font-size: 15px; font-weight: italic; margin-left: 350px; margin-top: 10px">
    	<%= @load2.each do |thing| %>
	    	<%= thing.text %><br />
	    <% end %> 
  </p>    
</div>   