<!DOCTYPE html>
<html>
<head>
	<title>SmartDic</title>
</head>
<style type="text/css">
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$(".btnSearch").click(function() {
			var txtSearch = $("#txtSearch").val(); // lay cai text khi nhập vào inpput có id là txtSearch
			if(txtSearch == "") {
				alert('Input data please!');
			}else {
				$("#isLoading").show();
				$.ajax({
				   url: 'http://localhost:3000/getdata?gettext=' + txtSearch,
				   error: function() {
				      alert('Data load fail!');// loi seẽ thông báo cái này
				   },
				   dataType : 'text', // loại dữ liệu mình lấy về
				   success: function(result) {
				    	$("#getData").html(result);
				   },
				}).done(function() {
					$("#isLoading").hide();
				});
			}
			return false;
		});
		
	});

</script>
<body>
<div id="content">
	<div id="title-search"><h1>Smart Dictionary</h1></div>
	<div id="search">
		<form>
	    	<div class="form-group col-sm-4">
	      		<input type="text" class="form-control" placeholder="Search Keyword" name="gettext" required id="txtSearch">
	      		<br />
	      		<select class="form-control">
		        <option>Anh-Việt</option>
		        <option>Việt-Anh</option>
     		 </select>
     		 <br />
     		  <button type="submit" class="btn btn-primary btnSearch">Search</button>
     		  <span id="isLoading" style="display: none;">Loading...</span>
	    	</div>
	</div>
	<table style="width:100%" id="getData"></table>
</div>
</body>
</html>


