<!DOCTYPE html>
<html>
<head>
	<title>SmartDic</title>
<style>
.buttonload {
    background-color: #4DC71F; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
}

/* Add a right margin to each icon */
.fa {
    margin-left: -12px;
    margin-right: 8px;
}
</style>
</head>
<script type="text/javascript">
	$(document).ready(function() {
		$(".btnSearch").click(function() {
			var txtSearch = $("#txtSearch").val(); // lay cai text trong input khi nhập vào inpput có id là txtSearch
			if(txtSearch == "") {
				alert('Input data please!');
			}else {
				$("#isLoading").show();
				$(".btnSearch").hide();
				$.ajax({
					//url: 'http://localhost:8080/getdata?search=' + txtSearch,
				   url: 'https://smartdic.herokuapp.com/getdata?search=' + txtSearch,//truyen gia tri tu the input len duong dan trang getdata
				   error: function() {
				    $("#isLoading").hide();
					$(".btnSearch").show();
				      alert('Data load fail!');// loi seẽ thông báo cái này
				   },
				   dataType : 'text', // loại dữ liệu mình lấy về
				   success: function(result) {
				    	$("#getData").html(result);
				   },
				}).done(function() {
					$("#isLoading").hide();
					$(".btnSearch").show();
				});
			}
			return false;
		});
		
	});
</script>
<body>
<div id="content">
	<div id="title-search"><h1>Smart Dictionary</h1></div>
	<div id="search">
		<form>
	    	<div class="form-group col-sm-4">
	      		<input type="text" class="form-control" placeholder="Search Keyword" name="" required id="txtSearch">
	      		<br />
	      		<select class="form-control">
		        <option>Anh-Việt</option>
     		 </select>
     		 <br />
     		  <button type="submit" class="buttonload btnSearch" style="display: block;">Search</button>
     		  <button class="buttonload" id="isLoading" style="display: none;">
  			  <i class="fa fa-spinner fa-spin"></i>Loading
</button>
     		  
     		 <!--  <button type="submit" style="display: none;" class="btn btn-primary" id = "isLoading">Loading ....</button> -->
	    	</div>
	</div>
	<div style="width:100%" id="getData"></div>
</div>


</body>
</html>


